
@keyframes movedown {
    0% {
        transform: translate(0, -100%);
    }
    100% {
        transform: translate(0, 0);
        position: absolute;
    }
}

#motion-demo {
    position: absolute;
    top: 0;
    left: 0;
    offset-path: path("M0,0 C0,0 100,0 100,100");
    animation: move 3000ms infinite alternate ease-in-out;
    width: 40px;
    height: 40px;
}

@keyframes move {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
    }
}