<div class="dropdown ms-1 ms-lg-0 ">
    <a class="avatar avatar-sm p-0 d-none d-lg-block " href="#" id="profileDropdown" role="button" data-bs-auto-close="true" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="avatar-img" src="files/w3.png" alt="avatar">
    </a>
    <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow p-1 pt-3" aria-labelledby="profileDropdown">
        <Menu />
    </ul>
</div>

<ul class="d-lg-none p-1 pt-3 ms-3" aria-labelledby=" profileDropdown">
    <Menu />
</ul>
